.con-background{
    background-color: #9F1718;
    margin-top: 60px;
    margin-bottom: 60px;
}

.contact-form{
    margin: 30px 60px;
    background-color: white;
  
}
form{
    margin: 20px 0;
}
.first-name{
    margin-left: 10px;
    margin-top: 20px;
}
.last-name{
    
    margin-top: 20px;
}
.email{
    margin-top: 20px ;
  
  
}
form button{
    margin-bottom: 40px;
}

.con-info{
color: white;
}
.con-info ul li{
    list-style-type: none;
    color: white;
}
.follow{
    color: white;
}
.follow ul li{
    list-style-type: none;
    display: inline;
    padding-left:10px ;
}