.footer{
    background-color: #b91a1a;
    padding: 50px 20px 80px;
}
.footer img{
    height: 200px;
}
.quick-links{
    text-align: start;
    font-family: sansita;
    font-style: normal;
    font-weight: bold;

}
.quick-links h2{
    /* color: rgb(212, 207, 207);;
    text-align: start;
    font-family: sansita;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase; */
    /* position: absolute;
width: 249px;
height: 58px;
left: 560px;
top: 85px; */

font-family: Sansita;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 58px;
/* identical to box height */


color: #FFFFFF;
}
.quick-links ul li{
    /* position: absolute; */
    /* width: 176px;
    height: 43px;
    left: 562px;
    top: 180px; */
    
    font-family: Sansita;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    list-style-type: none;
    
    color: rgba(255, 255, 255, 0.95);
}
.contact-with{
    text-align: start;
}
.contact-with h2{
    color: rgb(212, 207, 207);;
    font-family: Roboto;
    text-transform: uppercase;
}
.contact-with ul li{
    list-style-type: none;
    font-family: Roboto;
    color: rgb(212, 207, 207);
    font-size: 24px;
}
.contact{
    text-align: start;
}
.contact h2{
    color: rgb(212, 207, 207);
    text-transform: uppercase;
    font-family: Roboto;
}
.contact ul li{
    list-style-type: none;
    font-family: Roboto;
    color: rgb(212, 207, 207);
    font-size: 24px;
}

.copyright{
    background-color: #9f1718;
    border-top: 1px solid white;
}
.copyright p{
    color: white;
    font-family: Roboto;
    font-size: 22px;
    text-align: start;
    padding-left: 30px;
}